doctype html
html
  head
    // Import Google Icon Font
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Import materialize.css
    link(type='text/css', href='/stylesheets/materialize.min.css', rel='stylesheet', media='screen,projection')
    link(type='text/css', href='/stylesheets/style.css', rel='stylesheet', media='screen,projection')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  |     
  body
    nav
      .nav-wrapper
        .container
          a.brand-logo(href='/') LOGIN SYSTEM
          a.sidenav-trigger(data-target='mobile-demo', href='#')
            i.material-icons menu
          ul.right.hide-on-med-and-down
            li
              a(href='/') Home
            li
              a(href='/members') Members
            li
              a.waves-effect.waves-light.btn.grey.lighten-5.blue-text(href='/login') Login
            li
              a.waves-effect.waves-light.btn.grey.darken-3(href='/users/register') Sign Up
          
    ul#mobile-demo.sidenav
      li
        a(href='/') Home
      li
        a(href='/members') Members
      li
        a(href='/login') Login
      li
        a(href='/users/register') Sign Up
    
    block content
    // JavaScript at end of body for optimized loading
    script(src='https://code.jquery.com/jquery-3.4.1.js', integrity='sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=', crossorigin='anonymous')
    script(src='/javascripts/materialize.min.js', type='text/javascript')
    script(src='/javascripts/main.js', type='text/javascript')
