extends layout

block content
    .row.login-container-1
        .login-container
            .col.l5.m6.s12.valign-wrapper.login-heading
                    h1.white-text Login
            .col.l7.m6.s12
                .container-form
                    .row
                        form.col.s12(method='post', action='/users/login')
                            .row
                                .input-field.col.s12
                                    input#username.validate(name='username', type='text', placeholder='Enter username')
                                    label(for='username') Username
                            .row
                                .input-field.col.s12
                                    input#password.validate(name='password', type='password', placeholder='Enter password')
                                    label(for='password') Password
                            .row
                                .input-field.col.s12
                                    input.waves-effect.waves-light.btn(name='submit', type='submit', value='Login')
