extends layout

block content
    .row.register-container-1
        .register-container
            .col.l5.m6.s12.valign-wrapper.register-heading
                h1.white-text Sign Up
                ul.collection.errors
                    if errors
                        each error, i in errors
                            li.red.accent-3.white-text.collection-item #{error.msg}
            .col.l7.m6.s12
                .container-form
                    .row
                        form.col.s12(method='post', action='/users/register', enctype='multipart/form-data')
                            .row
                                .input-field.col.s6
                                    input#first_name.validate(name='name', type='text', placeholder='Enter name')
                                    label(for='first_name') Name
                                .input-field.col.s6
                                    input#username.validate(name='username', type='text', placeholder='Enter username', autocomplete="username")
                                    label(for='username') Username
                            .row
                                .input-field.col.s12
                                    input#email.validate(name='email', type='email', placeholder='Enter email')
                                    label(for='email') Email
                            .row
                                .input-field.col.s12
                                    input#password.validate(name='password', type='password', placeholder='Enter password', autocomplete="new-password")
                                    label(for='password') Password
                            .row
                                .input-field.col.s12
                                    input#password2.validate(name='password2', type='password', placeholder='Confirm password', autocomplete="new-password")
                                    label(for='password2') Password
                            .row
                                .file-field.input-field
                                    .btn
                                        span File
                                        input(name='profileimage', type='file')
                                    .file-path-wrapper
                                        input.file-path.validate(name='profileimage', type='text', placeholder='Upload profile picture here')
                            .row
                                .input-field.col.s12
                                    input.waves-effect.waves-light.btn(name='submit', type='submit', value='Register')
    
