/* Initialising fonts */
h1 {
  font-size: 40px;
  font-weight: bold;
}

/* Navbar */
.nav-wrapper {
  background-color: #1c42b1;
}
.login-btn {
  background-color: #1e46c0;
}
.sn-btn {
  color: #1c42b1;
  background-color: #ffffff;
}
/* Registration page */
.register-container-1 {
  background-image: url("https://i.pinimg.com/originals/0b/a3/d6/0ba3d60362c7e6d256cfc1f37156bad9.jpg");
  margin-bottom: 0 !important;
}
.register-heading {
  height: 500px;
}

.register-heading h1 {
  margin: auto auto !important;
}

.register-container .l7 {
  background-color: #ffffff;
  padding: 50px 75px !important;
}
form {
  text-align: center !important;
}
form i,
form .btn {
  background-color: #1c42b1 !important;
}
form input[type="submit"],
form i {
  color: #ffffff;
}

/* Login page */
.login-container-1 {
  background-image: url("https://i.pinimg.com/originals/0b/a3/d6/0ba3d60362c7e6d256cfc1f37156bad9.jpg");
  margin-bottom: 0 !important;
}
.login-heading {
  height: 500px;
}

.login-heading h1 {
  margin: auto auto !important;
}

.login-container .l7 {
  background-color: #ffffff;
  padding: 150px 75px !important;
}
