/* Initialising fonts */
h1 {
  font-size: 40px;
  font-weight: bold;
}
/* Registration page */
.register-container-1 {
  background-image: url("https://i.pinimg.com/originals/0b/a3/d6/0ba3d60362c7e6d256cfc1f37156bad9.jpg");
  /* height: 100vh; */
}
.register-heading {
  height: 400px;
}

.register-heading h1 {
  margin: 0 auto !important;
}

.register-container .s7 {
  background-color: #ffffff;
  padding: 50px !important;
}
